#header-image-container {
    background-color: #000000;
}

#header-image {
    width: 300px;
    height: 60px;
}

#body-container {
    width: 889px;
    margin: 0 auto;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

header nav {
    float: right;
    color: #ffffff;
}

header nav li {
        margin-right: 5px;
        display: inline;
        color:#ffffff;
    }

header nav a {
    color:#ffffff;
}
