
@{
    ViewData["Title"] = "Index";
}

<div id="view-container">
    <div id="title-container">
        <h2>Programs and courses</h2>
    </div>
    <div id="content-container">
        <div id="block-list-container">
            <div class="block-list">

            </div>
            <div class="block-list">

            </div>
            <div class="block-list">

            </div>
        </div>
        @Html.ActionLink("Add Program","AddProgram")
    </div>
</div>

