
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Login" asp-route-returnurl = "@Model.ReturnUrl" method="POST">
    <h2>Login to Power</h2>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" required autofocus />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" required autofocus />
    </div>
    <button type="submit">Sign in</button>
    <div>
        No account yet ? @Html.ActionLink("Register here", "Register")
    </div>
</form>

