
@{
    ViewData["Title"] = "Register";
}

<form action="/register" method="POST">
    <h2>Register for Power</h2>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" required autofocus />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" required autofocus />
    </div>
    <button type="submit">Register</button>
</form>


